#restroImage {
	width: 80vw;
	height: 400px;
	object-fit: cover;
}

#product {
	width: 25vw;
	height: 600px;
}

#productImage {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

#addIcon {
	height: 50px;
	width: 50px;
}

#minusIcon {
	height: 50px;
	width: 50px;
}
